/**
    @author Harto Tri Mulyo
 */

.alert-box.box-side {
    min-width: 300px;
    max-width: 400px;
    position: fixed;
    top: 10px;
    right: 10px;
    margin: inherit;
    z-index: 1031;
}

.alert-box.box-side > div {
    width: 100%;
    transition: all 3s;
}

.alert-solid {
    border-color: transparent;
    color: #fff;
}

.alert-box.box-side .alert-icon {
    display: none;
}

.alert .loading {
    width: 0;
    height: 3px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: #fff;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.modal-open .alert-box.box-side {
    z-index: 1051;
    right: 15px;
}

@media (min-width: 576px) {
    .alert-box.box-side .alert-icon {
        display: block;
        width: 40px;
        height: 40px;
        overflow: hidden;
        text-align: center;
        margin: 0;
        font-size: 40px;
    }
}